@font-face {
  font-family: "RobotoLight";
  src: local("Roboto-Light");
  src: url('./../fonts/Roboto/Roboto-Light.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("Roboto-Medium");
  src: url('./../fonts/Roboto/Roboto-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  src: local("Roboto-Regular");
  src: url('./../fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("Roboto-Bold");
  src: url('./../fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}

$font-roboto-light: 'RobotoLight', sans-serif;
$font-roboto-medium: 'RobotoMedium', sans-serif;
$font-roboto-regular: 'RobotoRegular', sans-serif;
$font-roboto-bold: 'RobotoBold', sans-serif;

@font-face {
  font-family: "DarkerGrotesqueLight";
  src: local("DarkerGrotesque-Light");
  src: url('./../fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf') format("truetype");
}

$font-darkerGrotesque-Light: 'DarkerGrotesqueLight', sans-serif;

@font-face {
  font-family: "Questrial";
  src: local("Questrial-Regular");
  src: url('./../fonts/Questrial/Questrial-Regular.ttf') format("truetype");
}

$font-questrial: 'Questrial', sans-serif;

h3 {
  font-family: $font-questrial;
  font-weight: 900;
  color: $primary-color;
}

* {
  font-family: $font-questrial;
  font-size: 1.1rem;
}