.about-profile,
.preferencias-profile {
  .collapsible-header{
    color: #fff;
    background-color: $primary-color;
    h5 {
      display: flex;
      align-items: center;
    }
  }
}

.about,
.preferencias-profile {
  form {
    .input-field label.active{
      color: $primary-color !important;  
    }

    input {
      &:focus {
        border-bottom: 1px solid $primary-color !important;
        -webkit-box-shadow: 0 1px 0 0 $primary-color !important;
        box-shadow: 0 1px 0 0 $primary-color !important;
      }
    }

    button {
      background-color: $primary-color;
      &:hover {
        background-color: #FF9800;
      }
    }

    input{
      &[type="checkbox"]+span{
        &:after {
          border: 2px solid $primary-color !important;
        }
        &:before {
          border-right: 2px solid $primary-color !important;
          border-bottom: 2px solid $primary-color !important;
        }
      }
    }
  } 
} 