.formulario-registro {
  background-image: url("/images/fondo.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;

  .logo-php-form {
    @include mq-max(mobile-big){
      display: flex;
      justify-content: center;
    }

    @include mq-min-max(tablet,tablet){
      margin-right: -1% !important;
    }
    img {
        width: 85%
    }
  }

  .unirse {
    padding: 5% !important;
    margin: 6% 0 12%;
    border-radius: 2%;
    color: $primary-color;
  }
  form {
    .input-field label.active{
      color: $primary-color !important;  
    }

    input {
      &:focus {
        border-bottom: 1px solid $primary-color !important;
        -webkit-box-shadow: 0 1px 0 0 $primary-color !important;
        box-shadow: 0 1px 0 0 $primary-color !important;
      }
    }

    button {
      background-color: $primary-color;
      &:hover {
        background-color: #FF9800;
      }
    }

    input{
      &[type="checkbox"]+span{
        &:after {
          border: 2px solid $primary-color !important;
        }
        &:before {
          border-right: 2px solid $primary-color !important;
          border-bottom: 2px solid $primary-color !important;
        }
      }
    }
  } 
}

