.tecnologias{
  .tecnologia {
    filter: grayscale(.5);
    transition: filter .2s ease-out;

    &:hover {
      filter: none;
    }

    &__titulo {
      text-align: center;
    }
  }

  .card {
    .tecnologia__imagen {
      width: 150px;
      margin: auto;
      object-fit: scale-down;
    }
  }
}
