.tecnologias{
  .card-content {
    img.responsive-img {
      height: 100px !important;
    }
  }


  .tecnologia {
    filter: grayscale(.5);
    transition: filter .2s ease-out;

    &:hover {
      filter: none;
    }

    &__titulo {
      text-align: center;
    }
  }
}
