.tecnologias{
  .tecnologia {
    filter: grayscale(.5);
    transition: filter .2s ease-out;

    &:hover {
      filter: none;
    }

    &__imagen {
      height: 250px;
      object-fit: scale-down;
    }

    &__titulo {
      text-align: center;
    }
  }
}
