{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="row">

            {% include 'profile/options.html.twig' %}

            <div class="col s12">
                <ul class="collection">
                {% for offert in offerts %}
                    <li class="collection-item">
                        {{ offert.user.profile.name }} te envio la oferta de
                        <a href="{{ path('job_show', {id: offert.job.id }) }}">
                            {{ offert.job }}
                        </a>
                    </li>
                {% else %}
                    <li class="collection-item active">
                        <h4>
                            Aún no te han enviado ofertas de trabajo
                        </h4>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}