{% extends 'base.html.twig' %}

{% block title %}Tus Ofertas{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                {% include 'profile/options.html.twig' %}

                <div class="col s12">
                    <ul class="collection">
                        {% for job in jobs %}
                            <li class="collection-item avatar">
                                <i class="material-icons circle {% if job.active %}green{% else %}red{% endif %}">insert_chart</i>

                                <a href="{{ path('job_show', {id: job.id}) }}">
                                    <span class="title">{{ job }}</span>
                                </a>
                                <p>Publicado: {{ job.createdAt | date }} <br>
                                    {% if job.active %}
                                        Tu publicación esta activa
                                    {% else %}
                                        Tu publicación aun no esta activa
                                    {% endif %}
                                </p>
                                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
