{% extends 'base.html.twig' %}

{% block title %}Crear Oferta de trabajo{% endblock %}

{% block meta %}
  <meta property="og:url" content="https://phpmexico.mx/jobs" />
  <meta property="og:title" content="Empresas | PHP México" />
  <meta property="og:description" content="Tu oferta de trabajo puede llegar a nuestra gran red de programadores en todo México" />
  <meta property="og:image" content="https://phpmexico.mx/images/logo-php.png" />
{% endblock %}

{% block body %}
  <div class="container empresas">
    <div class="columns ls-space-bottom">
      <div class="column is-8 is-offset-2">
        <div class="ls-section-content has-text-centered ls-space-bottom">
          <h3>
            <i class="material-icons">chevron_right</i>
            Empresas
          </h3>
          <p>
            Conectamos a las mejores empresas para programar con los mejores programadores. <br>
            Tu oferta de trabajo puede llegar a nuestra gran red de programadores en todo México
          </p>
        </div>
      </div>
    </div>
    <div class="planes">
      <div class="col s-12 l-4 ls-price-card has-text-centered plan plan-a">
        <h4 class="title is-1 has-text-dark has-text-weight-bold center-align">
          <span class="ls-align-super is-size-2">$</span>1,450<span class="ls-align-super is-size-2">mxn</span>
        </h4>
        <h5 class="subtitle has-text-weight-bold center-align">
          Startup
        </h5>
        <ul class="has-text-weight-light has-text-dark is-size-6">
          <li><i class="material-icons">done</i> Sitio phpmexico.mx</li>
          <li><i class="material-icons">done</i> Slack</li>
        </ul>

        <a href="mailto:david@indava.com" class="btn button has-text-weight-bold ls-orange is-rounded is-outlined center-align">
          Buy Now
        </a>
      </div>
      <div class="col s-12 l-4 ls-price-card has-text-centered plan plan-b">
        <h4 class="title is-1 has-text-dark has-text-weight-bold center-align">
          <span class="ls-align-super is-size-2">$</span>3,199<span class="ls-align-super is-size-2">mxn</span>
        </h4>
        <h5 class="subtitle has-text-link has-text-weight-bold center-align">
          Grow
        </h5>
        <ul class="has-text-weight-light has-text-dark is-size-6">
          <li><i class="material-icons">done</i> phpmexico.mx</li>
          <li><i class="material-icons">done</i> Slack</li>
          <li><i class="material-icons">done</i> Twitter</li>
          <li><i class="material-icons">done</i> Facebook</li>
          <li><i class="material-icons">done</i> Meetup</li>
        </ul>
        <a href="mailto:david@indava.com" class="btn button has-text-weight-bold is-link is-rounded is-outlined center-align">
          Buy Now
        </a>
      </div>
      <div class="col s-12 l-4 ls-price-card has-text-centered plan plan-c">
        <h4 class="title is-1 has-text-dark has-text-weight-bold center-align">
          <span class="ls-align-super is-size-2">$</span>6,499<span class="ls-align-super is-size-2">mxn</span>
        </h4>
        <h5 class="subtitle ls-purple has-text-weight-bold center-align">
          Expand
        </h5>
        <ul class="has-text-weight-light has-text-dark is-size-6">
          <li><i class="material-icons">done</i> phpmexico.mx</li>
          <li><i class="material-icons">done</i> Slack</li>
          <li><i class="material-icons">done</i> Twitter</li>
          <li><i class="material-icons">done</i> Facebook</li>
          <li><i class="material-icons">done</i> Meetup</li>
          <li><i class="material-icons">done</i> Email
          </li>
        </ul>
        <a href="mailto:david@indava.com" class="btn button has-text-weight-bold ls-purple is-rounded is-outlined center-align">
          Buy Now
        </a>
      </div>
    </div>
  </div>
{% endblock %}
