// Media Query Ranges ==============================================
$breakpoint-map: (
  mobile: (
    min-width: 428px,
    max-width: 539px,
  ),
  mobile-big: (
    min-width: 540px,
    max-width: 767px,
  ),
  tablet: (
    min-width: 768px,
    max-width: 1023px,
  ),
  laptop: (
    min-width: 1024px,
    max-width: 1279px,
  ),
  desktop: (
    min-width: 1280px,
    max-width: 1439px,
  ),
  wide: (
    min-width: 1440px,
    max-width: null,
  ),
);
